* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-image: url(../imatges/bg_inici.png);
    background-attachment: fixed;
    padding-top: 70px;
}

header {
    display: flex;
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: space-between;
    padding: 10px 70px;
    background-color: rgba(255, 255, 255, 1);
    margin-bottom: 20px;
    position: fixed;
    top: 0;
    box-shadow: 0px 1px 10px grey;
    z-index: 1;
}

nav li {
    font-weight: bold;
    list-style: none;
    display: inline-block;
    justify-content: space-between;
    padding: 0px 20px;
}

nav li a {
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    transition: 0.3s;
}

nav li a:hover, li.actiu a {
    color: #006eb8;
}


.contingut, .intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.intro {
    align-items: center;
}

.intro h1, h2 {
    color: white;
    padding: 20px 0px 10px 0px;
}

.intro h1 {
    font-size: 500%;
}

.intro h2 {
    font-size: 300%;
}

.img_rodona {
    border-radius: 50%;
    width: 400px;
    padding-top: 30px;
    margin-bottom: 60px;
}

.nom_titol, .subtitol, .img_rodona {
    animation-name: aparicio;
    opacity: 0;
    animation-duration: 2s;
    animation-timing-function: ease-out;
    position: relative;
    animation-fill-mode: forwards;
}

.nom_titol {
    animation-delay: 1s;
}

.subtitol {
    animation-delay: 1.1s;
}

.img_rodona {
    animation-delay: 1.2s;
}

.presentacio, .descripcio, .obra{
    height: auto;
    background-color: white;
}

.galeria {
    height: auto;
    display: flex;
    flex-wrap: wrap;
    background-color: #fff;
    padding: 50px;
    justify-content: space-around;
    align-content: space-around;
}

.rectangle { /*convertir a quadrades les imatges que no ho son*/
    width: 350px;
    height: 350px;
    overflow: hidden;
    border-radius: 50%;
}

.imtg {
    margin-top: 80px;
}

.img1{
    width: 350px;
    height: 350px;
    border-radius: 50%;
}

.img2{
    width: auto;
    height: 100%;
}

.img3{
    width: auto;
    height: 100%;
    margin-left: -140px;
}

.img4, .img5, .img6, .img7, .img8 {
    width: 100%;
    height: auto;
    overflow: hidden;

}

.hov-img {
    opacity: 0.5;
    transition-duration: 0.5s;
}

.hov-img:hover {
    opacity: 1;
    transform: scale(1.1, 1.1);
}


.presentacio p, .descripcio p {
    margin: 0px auto;
    padding: 50px;
    font-size: 130%;
    text-align: justify;
    line-height: 2;
    width: 900px;
}

p, h1 {
    text-align: justify;
}

.titol {
    display: flex;
    color: white;
    font-size: 300%;
    justify-content: center;
    text-transform: uppercase;
    padding: 40px;
}

.llibres {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0px 50px 0px 50px;
    text-align: center;
    line-height: 2;
    justify-content: space-around;
}

.capsa1, .capsa2, .capsa3, .capsa4, .capsa5, .capsa6 {
    width: 600px;
    height: 150px;
    padding: 20px;
    text-align: center;
    transition: 0.4s ease-in-out; 
    margin-bottom: 50px;
    border: 4px solid black; 
}

.titol-llibre {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    font-size: 140%;
}

.capsa1:hover {
    height: 440px;
}

.capsa2:hover {
    height: 470px;
}

.capsa3:hover {
    height: 640px;
}

.capsa4:hover {
    height: 530px;
}

.capsa5:hover {
    height: 600px;
}

.capsa6:hover {
    height: 710px;
}


.contingut-llibre {
    margin-top: -350px;
    opacity: 0;
    overflow: hidden;
    transition: 0.3s ease-in-out;
    max-width: 550px;
    font-size: 20px;
    padding: 0px 20px;
    visibility: hidden;
}

.capsa1:hover .contingut-llibre, 
.capsa2:hover .contingut-llibre, 
.capsa3:hover .contingut-llibre, 
.capsa4:hover .contingut-llibre,
.capsa5:hover .contingut-llibre,
.capsa6:hover .contingut-llibre {

    transition-delay: 0.1s;
    margin-top: 0px;
    opacity: 1;
    overflow: hidden;
    visibility: visible;
}

.quote {
    font-family: 'Playfair Display', serif;
    font-size: 30px;
}


footer {
    height: auto;
    background-color: black;
    color: white;
    justify-content: space-evenly;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    
}

.info {
    display: flex;
    flex-direction: row;
}

.info > div {
    flex: wrap;
    padding: 30px;
}

.column {
    padding: 10px;
}

.info > div > p {
    text-align: center;
}

@keyframes aparicio {

    0% { opacity: 0; transform: translate(0px, -30px);}

    100% { opacity: 1; transform: translate(0px, 0px);}
}
